html, body {
  height: 100%;
  overflow-x: hidden;
  font-size: 16px;
}
ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 50px;
}
.navbar-inverse { background: #333; }
.navbar-inverse,
.navbar-default {
  border-bottom: 3px solid #2171b5;
  -webkit-box-shadow: 0 2px 3px 0 rgba(50, 50, 50, 0.50);
-moz-box-shadow:    0 2px 3px 0 rgba(50, 50, 50, 0.50);
box-shadow:         0 2px 3px 0 rgba(50, 50, 50, 0.50);
}

body.off .navbar-default {
  border-color: maroon;
  -webkit-box-shadow: 0 14px 30px -13px rgba(255, 54, 54, 0.8);
  -moz-box-shadow:    0 14px 30px -13px rgba(255, 54, 54, 0.8);
  box-shadow:         0 14px 30px -13px rgba(255, 54, 54, 0.8);
}

body.on .navbar-default {
  border-color: #2171b5;
-webkit-box-shadow: 0 14px 30px -13px rgba(33, 113, 181, 0.6);
-moz-box-shadow:    0 14px 30px -13px rgba(33, 113, 181, 0.6);
box-shadow:         0 14px 30px -13px rgba(33, 113, 181, 0.6);
}

.glyphicon-off { color: #2171b5; }
.label {
  height: 40px;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.navbar-brand { margin-left: -15px; font-size: 29px; }
.navbar-brand img { width:60px; }
.navbar-nav { margin-right: -5px; }
.navbar-nav i { font-size: 17px; line-height: 25px; }
/* BOOTSTRAP OVERRIDES */

.layout-main,
.layout-menu {
  padding: 0;
  margin: 0;
  padding-top: 65px;
  display: block;
  height: 100%;
  right: 0;
  width: 100%;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.layout-main {
  display: block;
  background: icewhite;
}

.layout-menu.open { height: 300px; width: 100%; }
.layout-menu {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-box-shadow: 1px 0 6px 0 rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    1px 0 6px 0 rgba(50, 50, 50, 0.5);
  box-shadow:         1px 0 6px 0 rgba(50, 50, 50, 0.5);
  height: 0;
  overflow: hidden;
  text-align: left;
  background: #f4f4f4;
  z-index: 100;
}

.layout-menu .content,
.layout-menu .nav {
  position: absolute;
  display: block;
  height: 100%;
}
.layout-menu .nav {
  text-align: center;
  border-right: 1px solid #eaeaea;
  z-index: 100;
}
.layout-menu .content {
  width: 100%;
  padding-left: 60px;
}
.layout-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.layout-menu ul li {
  font-size: 20px;
  width: 50px;
  height: 45px;
  overflow: hidden;
  line-height: 50px;
  border-top: 1px solid #eaeaea;
}
.layout-menu ul li a i {
  text-align: center;
  width: 50px;
  margin-right: 5px;
}
.exit {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10000;
  font-size: 30px;
}

ul.devices { margin: 20px 0; }
.devices li {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #CCC;
  background: #eaeaea;
  margin: 4px 10px;
}
.manual-command {
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  background: #2171b5;
  padding: 10px;
  margin: 0;
  width:100%;
  -webkit-box-shadow: inset -4px 21px 5px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -4px 21px 5px -19px rgba(0,0,0,0.75);
  box-shadow: inset -4px 21px 5px -19px rgba(0,0,0,0.75);
}


.status-off,
.no-devices {
  padding: 10px;
  text-align: center;
  /*display: none;*/
}
.status-on,
.message-centre,
.no-devices,
.connected {
  /*display: none;*/
}


.swipearea,
.mousearea {
  height: 200px;
  color: #AAA;
  text-align: center;
  line-height: 160px;
  font-size: 22px;
}
.touchable {
  position: relative;
  height: 200px;
  background: #555;
  right: 0;
  width: 40px;
  top: -220px;
  line-height: 160px;
  color: #777;
  font-size: 22px;
  margin-bottom: -200px;
}
.touchable i {
  line-height: 190px;
  margin: -15px;
  padding: 0;
  width: 30px;
  text-align: center;
}

.message-centre {
  position: relative;
  border-color: #333;
  background: #CCC;
  color: white;
  top: -16px;
  margin: 0 10px;
  padding-top: 11px;
  height: 60px;
  margin-bottom: -60px;
  z-index: 1;
background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
-webkit-background-size: 10px 10px;
background-size: 10px 10px;
-webkit-box-shadow: 0 1px 3px 0 rgba(50, 50, 50, 0.50);
-moz-box-shadow:    0 1px 3px 0 rgba(50, 50, 50, 0.50);
box-shadow:         0 1px 3px 0 rgba(50, 50, 50, 0.50);
}

.message-centre.error {
  border-color: #ad1616;
  background: #c91818;
}
.message-centre.info {
  border-color: #2171b5;
  background: #2171b5;
}

.infoarea {
  color: white;
  font-family: monospace;
  background: #333;
  height: 200px;
  overflow-y: scroll;
  text-align: left;
}

.info-icon {
  color: #333;
  color: maroon;
  font-size: 60px;
  line-height: 40px;
  padding: 15px;
}
.info-icon.on { color: #2171b5; }

.transition {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}